# Django Settings
SECRET_KEY=django-insecure-.......&1%3ids3_4y6+c=xe+9-ux
ALLOWED_HOSTS=localhost,127.0.0.1,0.0.0.0

DJANGO_SUPERUSER_EMAIL=email_superuser@gmail.com
DJANGO_SUPERUSER_PASSWORD=passer123

# Redis / Celery
REDIS_URL=redis://redis:6379/0

# Brevo (Anymail)
BREVO_API_KEY=xkeysib-41f56cb033d3f7e.......5c7c60-bodULM4RFK3MPSLy
DEFAULT_FROM_EMAIL=email_superuser@gmail.com
FRONTEND_URL=http://localhost:5173
